@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #03012d; 
}
#root {
  height: 100%;
}

h1,h2,h3,h4,h5,h6{
  font-family: "DM Sans", sans-serif !important;
}

p {
 font-family: "Bricolage Grotesque", sans-serif;
}



.glassEffect {
/* From https://css.glass */
background: rgba(49, 47, 75, 0.78);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(49, 47, 75, 0.3);
}


.banner {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);

}





@theme {
  --breakpoint-tb: 60rem;
}


@plugin "daisyui"


