@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #03012d; /* opcional, mas ajuda */
}
#root {
  height: 100%;
}



.glassEffect {
/* From https://css.glass */
background: rgba(49, 47, 75, 0.78);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(49, 47, 75, 0.3);
}


.banner {
  background: transparent;
  box-shadow: none;
  border: none;
   background-image: url(./assets/images/bg-today-small.svg);
   background-size: cover;
  background-repeat: no-repeat;
}


@media (min-width: 760px) {
   .banner {
   background-image: url(./assets/images/bg-today-large.svg);
} 
}


@theme {
  --breakpoint-tb: 60rem;
}

@plugin "daisyui"


